
@model FirstBackEndProj.Models.Brand
@{
    ViewBag.Title = "Edit Brand";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            Edit Brand
        </div>
        <div class="card-body card-block">
            <form action="@Url.Action("Edit", "Brand")" method="post" class="form-horizontal" id="edit-brand-form">
                @Html.AntiForgeryToken()
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="Name" class=" form-control-label">Name</label>
                    </div>
                    <div class="col-12 col-md-9">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form - control", style = "border: 1px solid #ccc" })
                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                        @*<input type="email" id="Email" required name="Email" class="form-control">*@
                    </div>
                </div>
                <br> <br>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" btn-sm>
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

